In [2]:
#What I aim to do is to initialize panda then create a data set for all numbers from 560000 to 560999
import pandas as pd

In [32]:
#create list with 0-999
num = range(1000)
#create header, I do not know why this works
table = {'PostalCode':num}
#initializing panda
df = pd.DataFrame(data=table)
#adding the AMK postal to numbers
df = df.add(560000)

In [33]:
df.head()

   PostalCode
0      560000
1      560001
2      560002
3      560003
4      560004